<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>珠海市文园中学失物招领智能系统</title>
    <link rel="stylesheet" href="../static/CSS/Index.css">
</head>
<body>
    <div class="header">
        <img src="../static/Images/Icon.jpeg" alt="Logo">
        <h1>珠海市文园中学失物招领智能系统</h1>
    </div>
    <div class="nav">
        <a href="Index.html">主页</a>
        <a href="SubmitLostItem.html">存放失物</a>
        <a href="#">取失物</a>
        <a href="InquireLostItem.html">查询失物</a>
        <a href="Login.html">设置</a>
    </div>
    <div class="footer" style="text-align: center;">
        <p>版权所有 © 2023 ChinaTerraStudio</p>
    </div>
</body>
</html>