<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>珠海市文园中学失物招领智能系统 - 查询失物</title>
    <link rel="stylesheet" href="../static/CSS/InquireLostItem.css"> 
</head>
<body>
    <div class="header">
        <img src="../static/Images/Icon.jpeg" alt="Logo">
        <h1>珠海市文园中学失物招领智能系统</h1>
    </div>
    <div class="nav">
        <a href="Index.html">主页</a>
        <a href="SubmitLostItem.html">存放失物</a>
        <a href="#">取失物</a>
        <a href="InquireLostItem.html">查询失物</a>
        <a href="Login.html">设置</a>
    </div>
    <div class="content"> 
        <h2>查询失物</h2>
        <form method="post" action="/InquireLostItem.html" class="search-form"> 
            <label for="itemName">物品名称:</label>
            <input type="text" id="itemName" name="itemName"><br><br> 
            <label for="ownerName">失主名称:</label>
            <input type="text" id="ownerName" name="ownerName"><br><br> 

            <label for="submitter">提交人:</label>
            <input type="text" id="submitter" name="submitter"><br><br> 

            <label for="notes">备注（具体形容失物样貌等）:</label>
            <textarea id="notes" name="notes"></textarea><br><br>

            <label for="storageDate">存放日期:</label>
            <input type="date" id="storageDate" name="storageDate" value="{{ today_date }}"><br><br>

            <button type="submit">筛选</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>物品名称</th>
                    <th>失主名称</th>
                    <th>提交人</th> 
                    <th>存放日期</th>
                    <th>照片</th>
                    <th>备注</th> 
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{ item.itemName }}</td>
                    <td>{{ item.ownerName }}</td>
                    <td>{{ item.submitter }}</td> 
                    <td>{{ item.storageDate }}</td>
                    <td><img src="{{item.itemPhotoPath }}" alt="{{ item.itemName }}" width="100" onclick="openModal(this.src)"></td>
                    <td>{{ item.notes }}</td> 
                    <td>
                        <button onclick="retrieveItem('{{ item.id }}')">取回</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="../static/JS/InquireLostItem.js"></script>
    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
    </div>
    <div class="footer" style="text-align: center;">
        <p>版权所有 © 2023 ChinaTerraStudio</p>
    </div>
</body>
</html>